  <header class="navbar navbar-light navbar-static-top bd-navbar" role="banner">
       <div class="container">
          <div class="collapse navbar-toggleable-xs" id="bd-main-nav">
            <nav class="nav navbar-nav">
              <a class="nav-item nav-link " href="/admin">后台首页</a>
              <a class="nav-item nav-link " href="/admin/release">新增文章</a>
              <a class="nav-item nav-link " href="/admin/login">退出</a>
            </nav>
          </div>
        </div>  
    </header>